* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    width: 1200px;

    margin: 200px auto;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.container-0 {
    width: 1200px;

    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

.container-1 {
    width: 1200px;

    padding: 16px;

    background-color: #f2a062;
    color: #444447;
}

.logo {
    float: left;

    width: 300px;
    padding: 12px;

    background-color: #eb6481;
}

.nav {
    float: right;

    width: 825px;
    padding: 12px;

    background-color: #d76a50;
}

.container-2 {
    width: 1200px;

    padding: 16px;

    background-color: #8eabc0;
    color: #fffefd;
}

.sid {
    float: left;

    width: 300px;
    padding: 12px;

    background-color: #f6bd62;
}

.subcontent-1 {

    padding: 12px;

    background-color: #507088;
}

.subcontent-2 {

    padding: 12px;

    background-color: #3a5162;
}

.container-3 {
    float: right;

    width: 825px;
}

.footer {
    width: 1200px;

    padding: 16px;

    background-color: #b7ce3f;
    color: #515343;
}