@use "sass:color";

.border {
  @each $key, $value in $color-map {
    //.border-primary, .border-danger, ...
    &-#{$key} {
      border: 1px solid color.adjust($value, $lightness: -10%);
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }

  // .border-width-1, .border-width-2, ..., .border-width-10
  @for $i from 1 through 10 {
    &-width-#{$i} {
      border-width: #{$i}px;
    }
  }

  // .border-radius-25, .border-radius-50, .border-radius-75, .border-radius-100
  @for $i from 1 through 4 {
    &-radius-#{$i*25} {
      border-radius: #{$i/4}rem;
    }
  }
}