/*RESET UNIVERSAL*/
* {
  margin: 0;
  padding: 0;
}

/* Color del texto y familia tipográfica */
body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;  
}

/*Centrado del contenido y ancho fijo*/
.container {
  width: 1200px;
  margin: 0 auto;

  position: relative;
}

/* El color de fondo del encabezado principal no se apreciaba en el enunciado */
.main-header {
  background-color: #f7f7f7;  

  padding: 20px 40px;
  margin-bottom: 60px;  
}

nav {
  font-size: 18px;  
}

/* Algo de espacio entre el encabezado del post y su cuerpo */
.post-header {
  margin-bottom: 40px;
}

/* Algo de espacio entre el articulo y el aside */
article {
  margin-bottom: 60px;

  
}


aside {  
  background-color: #f7f7f7;

  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;

  padding: 50px 0;
  width: 500px;
}

/* Color de texto de los titulos h1 a h3 */
h1,
h2,
h3 {
  color: #1098ad;
}

/* Estilos concretos de los titulos */
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Estílos de contenido y listas */
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;  
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* Le quitamos las "bullets" a la lista del aside */
.related {
  list-style: none;
}

/* Negrita primer elemento en lista */
li:first-child {
  font-weight: bold;
}

/* Cursiva en último elemento en lista */
li:last-child {
  font-style: italic;
}

/* Estilos de los enlaces */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/* Cuando el enlace ha sido visitado no queremos que cambie nada respecto de su estado normal */
a:visited {  
  color: #1098ad;
}

/* Cuando hacemos hover, cambiamos color, negrita y subrayamos */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* Mientras clickamos, color de fondo negro y énfasis al texto */
a:active {
  background-color: black;
  font-style: italic;
}

.like-button {
  position: absolute;
  bottom: 30px;
  right: 30px;

  font-size: 22px;
  background-color: #C9C9C9;

  padding: 10px;
  border: 2px solid #B5B5B5;
}

.post-header h2 {
  position: relative;
}

.post-header h2::after {
  content: "TOP";

  position: absolute;
  top: -10px;
  right: -10px;

  color: black;
  font-size: 17px;

  border: 1px solid grey;
  background-color: rgb(244, 223, 41);

  padding: 9px;
}

.main-header h1 {
  float: left;
}

.main-header nav {
  float: right;
}

.main-header::after {
  content: "";
  clear: both;
  display: block;
}

.main-header nav a {
  display: inline-block;

  padding: 10px 5px;
}

article {
  float: left;
  width: 800px;
}

aside {
  float: right;
  width: 325px;

  padding: 20px 40px;
  box-sizing: border-box;

}

footer {
  clear: both;
}

.author {
  display: inline-block;
}