/*RESET UNIVERSAL*/
* {
  margin: 0;
  padding: 0;
}

/* Color del texto y familia tipográfica */
body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;  
  
  position: relative;
}

/*Centrado del contenido y ancho fijo*/
.container {
  width: 1200px;
  margin: 0 auto;
}

/* El color de fondo del encabezado principal no se apreciaba en el enunciado */
.main-header {
  background-color: #f7f7f7;  

  padding: 20px 40px;
  margin-bottom: 60px;  
}

nav {
  font-size: 18px;  
}

/* Algo de espacio entre el encabezado del post y su cuerpo */
.post-header {
  margin-bottom: 40px;
}

/* Algo de espacio entre el articulo y el aside */
article {
  margin-bottom: 60px;
}


aside {  
  background-color: #f7f7f7;

  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;

  padding: 50px;
}

aside h4 {
  margin-bottom: 14px;
}

/* Color de texto de los titulos h1 a h3 */
h1,
h2,
h3 {
  color: #1098ad;
}

/* Estilos concretos de los titulos */
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Estílos de contenido y listas */
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;  
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* Le quitamos las "bullets" a la lista del aside */
.related {
  list-style: none;
}

/* Negrita primer elemento en lista */
li:first-child {
  font-weight: bold;
}

/* Cursiva en último elemento en lista */
li:last-child {
  font-style: italic;
}

/* Estilos de los enlaces */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/* Cuando el enlace ha sido visitado no queremos que cambie nada respecto de su estado normal */
a:visited {  
  color: #1098ad;
}

/* Cuando hacemos hover, cambiamos color, negrita y subrayamos */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* Mientras clickamos, color de fondo negro y énfasis al texto */
a:active {
  background-color: black;
  font-style: italic;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* Etiqueta TOP como pseudo-elemento */
h2::before {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

.main-header {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

nav {
  width: 400px;
  display: flex;

  justify-content: space-between;
}

.post-author {
  display: flex;
  gap: 10px;

  align-items: center;
}

.post-author img {
  margin-bottom: 15px;
}

.aside-ref {
  display: flex;

  gap: 10px;
  align-items: center;
}

.aside-ref-author {
  flex-shrink: 1;
  display: flex;

  flex-direction: column;
}

.container {
  display: grid;
  
  grid-template-areas: "H H H H"
                       "A A R R"
                       "F F F F";

  column-gap: 75px;
  row-gap: 30px;
}

header {
  grid-area: H;
}

article {
  grid-area: A;
}

aside {
  grid-area: R;
}

footer {
  grid-area: F;
}

aside {
  align-self: start;
}

.main-header {
  margin: 0;
}

