h1 {
  font-family: $ff-lato;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.5rem;
  color: $black;
  padding-bottom: 1rem;
}

h2 {
  @extend h1;
  font-size: 1.75rem;
  line-height: 2rem;
}

h3 {
  @extend h2;
  font-size: 1.5rem;
}

p {
  padding-bottom: 1rem;
  text-align: justify;
}