* {
  margin: 0;
  padding: 0;
}

.flex-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #d1cdcd;

  display: flex;

  gap: 5px;
}

.el {
  font-family: sans-serif;
  font-size: 22px;

  border: 2px solid black;

  padding: 5px;

  flex-basis: 100px;
  flex-shrink: 0;
}


.el-1 {
 background-color: lightskyblue;
}

.el-2 {
  background-color:lightcoral ;
}

.el-3 {
  background-color:lightseagreen ;

  height: 200px;
}

.el-4 {
  background-color:lightsalmon ;
}

.el-5 {
  background-color:lightslategray ;
}

.el-6 {
  background-color:lightpink ;
}

.el-7 {
  background-color:lightgreen ;
}

.el-8 {
  background-color: orangered ;
}