body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: snow;
    margin: 0 auto;
    max-width: 1000px;
}

.item {
    padding: 8px;
    background-color: white;
    border: 4px solid tomato;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.container {
    display: grid;
    gap: 24px;

    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}