.canvas {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  position: relative;
}
.head {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  text-align: center;
  z-index: 3;
}
.eyeball {
  font-size: 8px;
  font-weight: 700;
  padding: 5px;
  border: 2px solid;
  margin: 12px 0 0 32px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.pupil {
  font-size: 36px;
  line-height: 12px;
}
.beak {
  padding-left: 30px;
  font-size: 40px;
  position: absolute;
  right: -17px;
  top: 50%;
  margin-top: -20px;
  color: transparent;
}
.body {
  right: 100px;
  top: 90px;
  z-index: 1;
}
.air,
.body {
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 100px;
}
.air {
  right: 110px;
  top: 30px;
  z-index: 2;
}
.wing {
  color: transparent;
  position: absolute;
  top: 40px;
  font-size: 40px;
  left: 38px;
}
.drumsticks {
  line-height: 0.9em;
  font-size: 24px;
  text-align: center;
}
.drumstick {
  position: absolute;
  top: 180px;
  left: 80px;
  font-weight: 700;
  color: transparent;
}
.drumstick-right {
  left: 110px;
}
